eureka:
  client:
    server-url:
        defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-adress: true

spring:
  datasource:
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc: 
          batch_size: 2000
        order_inserts: true
        order_updates: true
        generate_statistics: true
  flyway:
    baseline-on-migrate: true
    baseline-version: 1

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,beans,env,loggers
    health:
      show:
        details: always
server:
  adress: 0.0.0.0
